// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #52B2CF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$white-gray: #F4F4F4;
$purple: #8D6A9F;
$light-grey: #F4F4F4;
